<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.minutebazar">

    <application
        android:allowBackup="true"
        android:icon="@drawable/logo_minute_bazar"
        android:label="@string/app_name"
        android:roundIcon="@drawable/logo_minute_bazar"
        android:supportsRtl="true"
        android:theme="@style/Theme.MinuteBazar">

        <!-- Splash Activity as LAUNCHER -->
        <activity
            android:name="com.example.minutebazar.ui.SplashActivity"
            android:exported="true"
            android:theme="@style/Theme.MinuteBazar.Splash">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <!-- Main Activity -->
        <activity
            android:name="com.example.minutebazar.ui.MainActivity"
            android:exported="true" />

        <!-- OTP Activity -->
        <activity
            android:name="com.example.minutebazar.ui.OtpActivity"
            android:exported="true" />


    </application>
</manifest>
